<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
		<form id="LGIN000M" name="LGIN000M" method="post" action="/join">
		<ul class="loginForm">
			<li>
				<span class="label"><i class="icoUtil_client"></i>태넌트</span>
				<input type="text" class="input" placeholder="태넌트" id="tenantId" name="tenantId" maxlength="3"  autoComplete="off" />
				<input type="hidden" id="mlingCd" name="mlingCd" maxlength="2" readonly>
			</li>
			<li>
				<span class="label"><i class="icoUtil_id"></i>아이디</span>
				<input type="text" class="input" placeholder="아이디" id="usrId" name="usrId" maxlength="7"  autoComplete="off" />
			</li>
			<li>
				<span class="label"><i class="icoUtil_pw"></i>패스워드</span>
				<input type="password" class="input" placeholder="패스워드" id="scrtNo" name="scrtNo" maxlength="20"  autoComplete="off" />
			</li>
			<li class="block">
                <button type="submit" class="logBtn"><i class="icoUtil_login"></i>회원가입</button>
			</li>
		</ul>
		</form>
</body>
<script>


</script>
</html>